<footer>
  <div class="footer-container">
    <div class="footer-right">
      <a href="/" target="_blank"><img src="assets/logo.svg" alt="logo" class="logo"></a>
      <a [href]="links.organizationStructure" target="_blank">מבנה ארגוני</a>
      <a [href]="links.seniorPositions" target="_blank">בעלי תפקידים</a>
      <a [href]="links.contact" target="_blank">פניות הציבור</a>
      <a [href]="links.ministrySite" target="_blank">אודות המשרד</a>
    </div>
    <div class="footer-left">
      <a [href]="links.facebook" target="_blank"><img src="assets/facebook.svg" alt="facebook"></a>
      <a [href]="links.x" target="_blank"><img src="assets/x.svg" alt="x"></a>
      <a [href]="links.instagram" target="_blank"><img src="assets/instagram.svg" alt="instagram"></a>
      <a [href]="`tel:${links.phone}`" target="_blank"><img src="assets/phone.svg" alt="phone"></a>
    </div>
  </div>
</footer>

