<footer>
  <div class="footer-container">
    <div class="footer-right">
      <a href="/"><img src="assets/logo.svg" alt="logo" class="logo"></a>
      <a [href]="links.organizationStructure">מבנה ארגוני</a>
      <a [href]="links.seniorPositions">בעלי תפקידים</a>
      <a [href]="links.contact">פניות הציבור</a>
      <a [href]="links.ministrySite">אודות המשרד</a>
    </div>
    <div class="footer-left">
      <a [href]="links.facebook"><img src="assets/facebook.svg" alt="facebook"></a>
      <a [href]="links.x"><img src="assets/x.svg" alt="x"></a>
      <a [href]="links.instagram"><img src="assets/instagram.svg" alt="instagram"></a>
      <a [href]="`tel:${links.phone}`"><img src="assets/phone.svg" alt="phone"></a>
    </div>
  </div>
</footer>

