footer {
  background-color: #f8f9fa;
  padding: 24px;
  direction: rtl;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
    padding: 4px;

    &:hover {
      color: var(--color-blue);
    }
  }

  .logo {
    width: 100px;
    height: auto;
    margin-bottom: -8px;
    padding: 4px;
  }
}

.footer-left {
  display: flex;
  align-items: center;

  a {
    margin-right: 1.5rem;
    display: inline-block;
    padding: 3px;

    img {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}