.graph-wrapper {
  background: #FFFFFF52;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  padding: 24px 32px;
  box-shadow: 0px 8px 33.6px 16px #00357D0A;
  backdrop-filter: blur(4px);
  border-radius: 32px;
  height: 600px;
  position: relative;

  &.headless {
    padding: 16px 20px;
    box-shadow: none;
    border: 1px solid #B5C7E2;
    border-radius: 32px;
    height: fit-content;
  }
}

.graph-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3px;
  direction: rtl;
  flex-wrap: wrap;
}

.graph-titles {
  flex: 1;
  text-align: right;
}

.graph-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-dark-blue);
  &.long {
    font-size: 16px;
  }
}

.graph-description {
  margin-block: 6px;
  margin-inline: 0;
  font-size: 14px;
  font-weight: 400;
  color: #5878A4;
}

.graph-subtitles {
  width: 100%;
  margin-top: 12px;

  .subtitle {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    color: #335D9C;
  }
}

.graph-tools {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-shrink: 0;

  .save-graph-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

  }

  .save-graph {
    padding-left: 16px;
    border-left: 1px solid #B5C7E2;
  }

  .share-bar {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .excel {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.tool-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  filter: drop-shadow(0 2px 6px rgba(6,74,157,0.08));
}

.chart {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 10px;
  top: 140px;
}

.headless .chart {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  height: 400px;
  margin-top: 16px;
}

.graph-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }
  
  h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }
}

.success-message {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  color: #28a745;
  font-size: 14px;

  &.error {
    color: #dc3545;
  }
}

.loader {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  position: relative;
  right: 50%;
  top: 40%;
  scale: 1.1;
  background: currentColor;
  color: var(--color-blue);
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  bottom: 0;
  left: 20px;
  animation: animloader1 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0% {
    height: 40px;
    transform: translateY(0);
  }
  100% {
    height: 10px;
    transform: translateY(30px);
  }
}

@keyframes animloader1 {
  0% {
    height: 48px;
  }
  100% {
    height: 4.8px;
  }
}
    