.graph-wrapper {
  background: #FFFFFF52;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  padding: 24px 32px;
  box-shadow: 0px 8px 33.6px 16px #00357D0A;
  backdrop-filter: blur(4px);
  border-radius: 32px;
  height: 600px;
  position: relative;

  &.headless {
    padding: 16px 20px;
    box-shadow: none;
    border: 1px solid #B5C7E2;
    border-radius: 32px;
    height: fit-content;
  }
}

.graph-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 16px;
  direction: rtl;
}

.graph-titles {
  flex: 1;
  text-align: right;
}

.graph-title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-dark-blue);
  &.long {
    font-size: 16px;
  }
}

.graph-description {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #5878A4;
}

.graph-tools {
  position: relative;
  display: flex;
  gap: 16px;
  align-items: center;
  flex-shrink: 0;

  .save-graph-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

  }

  .save-graph {
    padding-left: 16px;
    border-left: 1px solid #B5C7E2;
  }

  .share-bar {
    position: absolute;
    top: 32px;
    left: 32px;
  }

  .excel {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.tool-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  filter: drop-shadow(0 2px 6px rgba(6,74,157,0.08));
}

.chart {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 10px;
  top: 140px;
}

.headless .chart {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  height: 400px;
  margin-top: 16px;
}

.graph-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
  }
  
  h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }

  button {
    background-color: transparent;
    border: none;
  }
}

.success-message {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  color: #28a745;
  font-size: 14px;
}
