<!-- Accessibility declaration content goes here -->
<main dir="rtl" class="accessibility-container">
    <header class="zone-title">
        <h1 class="title-text">הסדרי נגישות אגף טכנולוגיות דיגיטליות ומידע, משרד הרווחה והביטחון החברתי</h1>
    </header>
    <div class="content">
        <div class="statement-content">
            <p>אגף טכנולוגיות דיגיטליות ומידע במשרד הרווחה והביטחון החברתי עושה את מרב המאמצים ומשקיע משאבים רבים על מנת לספק לכל לקוחותיו שירות שוויוני, מכובד, נגיש ומקצועי. בהתאם לחוק שוויון זכויות לאנשים עם מוגבלויות תשנ"ח-1998 ולתקנות שהותקנו מכוחו, מושקעים מאמצים ומשאבים רבים בביצוע התאמות הנגישות הנדרשות שיביאו לכך שאדם בעל מוגבלות יוכל להשתמש בשירותים הדיגיטליים הנגישים לכלל הלקוחות, באופן עצמאי ושוויוני.</p>
            <p>אגף טכנולוגיות דיגיטליות ומידע במשרד הרווחה והביטחון החברתי מעוניין בשיפור מתמיד. אם נתקלת בקושי או אם יש לך הצעת שיפור, נשמח לשמוע.</p>
            <h2>נגישות אתר האינטרנט</h2>
            <p>מערכת דיגיטלית נגישה היא מערכת המאפשרת לאנשים עם מוגבלות ולאנשים מבוגרים להשתמש בה באותה רמה של יעילות ככל המשתמשים. בישראל כ־ 1.6 מיליון אנשים עם מוגבלות, מתוכם כ־751 אלף אנשים בגילי עבודה 20–64. הנתונים הסטטיסטיים מעידים על פערים גדולים בין אנשים עם מוגבלות לאנשים ללא מוגבלות בכל תחומי החיים.</p>
            <p>אגף טכנולוגיות דיגיטליות ומידע במשרד הרווחה והביטחון החברתי מאמין בשוויון הזדמנויות במרחב הדיגיטלי לבעלי לקויות מגוונות ופועל למען אנשים הנעזרים בטכנולוגיה מסייעת לשימוש במחשב.</p>
            <h3>מידע על נגישות המערכת</h3>
            <ul>
                <li>מערכת זו עומדת בדרישות תקנות שוויון זכויות לאנשים עם מוגבלות (התאמות נגישות לשירות), התשע"ג 2013.</li>
                <li>התאמות הנגישות בוצעו עפ"י המלצות התקן הישראלי (ת"י 5568) לנגישות תכנים באינטרנט ברמת AA ומסמך WCAG2.0 הבין־לאומי.</li>
                <li>הבדיקות נבחנו לתאימות הגבוהה ביותר עבור דפדפן כרום.</li>
                <li>המערכת מספקת מבנה סמנטי עבור טכנולוגיות מסייעות ותמיכה בדפוס השימוש המקובל להפעלה עם מקלדת בעזרת מקשי החיצים, Enter ו- Esc ליציאה מתפריטים וחלונות.</li>
                <li>מותאם לתצוגה בדפדפנים הנפוצים ולשימוש בטלפון הסלולרי.</li>
                <li>לשם קבלת חווית גלישה מיטבית עם תוכנת הקראת מסך, אנו ממליצים לשימוש בתוכנת NVDA העדכנית ביותר.</li>
                <li>מסמכים או סרטוני וידאו שעלו לאתר לפני אוקטובר 2017 ייתכן שלא נגישים באופן מלא. במידה שנתקלתם במסמך כזה או בסרטון, תוכלו לפנות בדואר האלקטרוני: <a href="mailto:DigitalContent@molsa.gov.il">DigitalContent@molsa.gov.il</a>, ואנחנו נדאג להנגיש לכם את המידע. </li>
                <li>מסירת מידע בפורמט נגיש – האגף מעמיד עבור המשתמשים אפשרות לקבלת מידע בפורמטים נגישים. מסירת המידע היא ללא תשלום ומיועדת עבור אנשים עם מוגבלות. לפניות ומידע בנושא נגישות ניתן ליצור קשר עם רכזת הנגישות שפרטיה מופיעים בהמשך ההצהרה. </li>
                <li>
                    <a target="_blank" href="https://a-2-z.co.il/accessibility-sites/">בדיקה ויעוץ הנגישות בוצעו על ידי חברת A2Z נגישות ושיווק דיגיטלי</a>.
                </li>
            </ul>
            <h2>דרכי פנייה לבקשות והצעות לשיפור בנושא נגישות</h2>
            <p>אנו ממשיכים במאמצים לשפר את הנגישות באגף כחלק ממחויבותנו לאפשר לכלל האוכלוסייה כולל אנשים עם מוגבלויות לקבל את השירות הנגיש ביותר.</p>
            <p>אם נתקלת בבעיה או בתקלה כלשהי בנושא הנגישות, נשמח שתעדכן אותנו בכך ואנו נעשה כל מאמץ למצוא עבורך פתרון מתאים ולטפל בתקלה בהקדם האפשרי.</p>
            <p>שימו לב, במשרדנו אין קבלת קהל פיזית.</p>
            <h3>פרטי רכזת הנגישות במשרד הרווחה</h3>
            <div class="accessManagerDetails">
                <div>
                    <strong>שם:</strong> אפרת בתאל הרוש
                </div>
                <div>
                    <strong>טלפון:</strong> 02-6752328
                </div>
                <div>
                    <strong>דואר אלקטרוני: </strong>
                    <a href="mailto:EfratBatElH@molsa.gov.il">EfratBatElH@molsa.gov.il</a>
                </div>
            </div>
            <h3>פרסום הצהרת הנגישות</h3>
            <p>
                <strong>הצהרת הנגישות עודכנה ביום: 22.01.2026</strong>
            </p>
        </div>
    </div>
</main>